.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 0;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 30px;
  font-family: var(--font-secondary);
  font-size: 1rem;
  color: var(--main-text);
}

.contact-info table {
  width: 60%;
}

.contact-info th {
  padding-bottom: 10px;
  font-family: var(--font-primary);
  font-size: 1.5rem;
  text-align: left;
  color: var(--primary);
}

.contact-info .row-name {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  color: var(--main-text);
}

.hours {
  width: 35%;
  margin-bottom: 30px;
}

.hours h2 {
  padding-bottom: 10px;
  font-family: var(--font-primary);
  font-size: 1.5rem;
  text-align: left;
  color: var(--primary);
}

.hours div {
  margin-bottom: px;
  font-weight: bold;
}

.parking-info {
  width: 100%;
  padding-top: 50px;
}

.parking-info h1 {
  font-family: var(--font-primary);
  font-size: 1.5rem;
  text-align: left;
  color: var(--primary);
}

.parking-info p {
  padding: 10px 0 50px 0;
  font-family: var(--font-secondary);
  font-size: 1.2rem;
  color: var(--main-text);
}

@media screen and (max-width: 800px) {
  .contact-container {
    width: 90%;
  }

  .contact-info {
    flex-direction: column;
  }

  .contact-info table,
  .hours {
    width: 100%;
  }

  .hours {
    padding-top: 20px;
  }

  .parking-info {
    padding-top: 10px;
  }

  .parking-info p {
    font-size: 1.1rem;
  }
}